pandas==2.2.2
numpy==1.26.4
seaborn==0.13.2
matplotlib==3.8.4
pydotplus==2.0.2
scikit-learn==1.4.2
xgboost==2.1.4
lightgbm==4.5.0
catboost==1.2.7
joblib==1.4.2
streamlit==1.32.0
plotly==5.22.0
altair==5.5.0
missingno==0.5.2
statsmodels==0.14.2
scipy==1.13.1
mlxtend==0.23.1